body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.custom-file-input {
    display: none;
}

.custom-file-label {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 40px;
    color: #787878;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-bottom: -1px;
    margin-top: 10px;
    border: 1px solid #ccc;
}



.custom-file-label:hover {
    background-color: #bcbcbc;
}


input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Añadir al archivo admin.css */

.image-preview {
    display: flex;
    justify-content: center;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.image-preview img {
    max-width: 20%;
    height: 10%;
    border-radius: 4px;
    display: none;
    padding: 5px;
}
